body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-container {
  width: 50%;
}

.messaging-container {
  width: 50%;
}

.messaging-container .icon.users {
  position: fixed;
  z-index: +10;
  top: 25px;
  right: 24px;
}

.messaging-container .icon.active {
  color: darkgoldenrod;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  background-color: #070a0d;
  display: flex;
  justify-content: center;
}

.auth-container .box {
  min-width: 20vw;
  background-color: #151a1f;
  align-self: center;
}

.auth-container .box .form{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.auth-container .box input {
  font-size: 1.25em;
  height: 2rem;
  margin-top: 0.25rem;
}

button.action{
  background-color: #4e65e6;
  color: white;
  width: 100%;
  font-size: 1.25em;
  height: 1.7em;
  align-self: center;
  margin-top: 0.75rem;
  border: none;
}

button.action:hover {
  background-color: #4057d6;
}

.auth-container .auth-options {
  display: flex;
  flex-direction: row;
}

.auth-container .auth-options button{
  background-color: #151a1f;
  color: white;
  width: 50%;
  padding: 1.25em;
  font-size: large;
  text-align: center;
  border: none;
}

.auth-container .auth-options button.active{
  background-color: #07203a;
}

.userlist-container {
  background-color: #151a1f;
  width: 100%;
  /* padding: 2em; */
  height: 30%;
  overflow-y: scroll;
}

.userlist-container header {
  background-color: #242c35;
  color: white;
  font-weight: bold;
  height: 2em;
  padding: 0.4em;
}

.userlist-container ul{

}

.userlist-container li{
  /* background-color: #202830; */
  list-style: none;
  color: white;
  padding: 0.4em;
  margin: 0;
  display: flex;
}
.userlist-container li:hover{
  background-color: #202830;
}
.userlist-container li p {
  padding: 0 0 0.6em 0.6em;
  margin: 0;
}

.error.text{
  color:indianred;
}
